{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-6">
      <div class="card card-body">
          <h2>Add items to this list</h2>
          <form action="" method="post">
              {% csrf_token %}
              <label>Item</label>
              <input
                  type="text"
                  name="name"
                  id="id_name"
                  class="form-control"
                  placeholder=""
              />
              <button type="submit" class="btn btn-success btn-lg">Create</button>
          </form>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card card-body">
          <h1>{{ list.name }}</h1>
          {% if list.items.all %}
              {% for item in list.items.all %}
              <div class="row">
                  <div class="col-md-1">
                      <form action="{% url 'complete_item' id=item.id %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <input type="checkbox" name="done" onchange="this.form.submit()" {% if item.done %}checked{% endif %}>
                      </form>
                  </div>
                  <div class="col-md-7">
                      {% if item.done %}
                      <p><del>{{ item.name }}</del></p>
                      {% else %}
                      <p>{{ item.name }}</p>
                      {% endif %}
                  </div>
                  <div class="col-md-4">
                      <a href="{% url 'delete_item' id=item.id %}" class="btn btn-danger btn-sm">Delete</a>
                      <a href="#" class="btn btn-primary btn-sm">Update</a>
                  </div>
              </div>
              {% if not forloop.last %}
              <hr>
              {% endif %}
              {% endfor %}
          {% else %}
          <p>No Items yet</p>
          {% endif %}
      </div>
  </div>
</div>
{% endblock %}
